import(methods)
importFrom("bigmemory", "typeof")
importFrom("bigmemory", "filebacked.big.matrix")
importFrom("bigmemory", "deepcopy")
#S4 methods
exportMethods("%*%")
exportMethods("Arith")
#Functions
export("daxpy")
export("dadd")
useDynLib(bigalgebra)

